body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.todo-app{
  width: 400px;
  margin: 100px auto;
}
.todo-app > ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}
.todo-app > ul > li{
  width: 100%;
  position: relative;
}
.todo-app > ul > li:hover > .close{
  display: block;
}
.todo-app > ul > li + li{
  /*border-top: 1px solid #f8f9fb;*/
  margin-top: 2px;
}
.todo-app > ul > li > a {
  padding: 10px 30px;
  display: block;
  font-size: 13px;
  cursor: pointer;
  color:white;
  border-radius: 3px;
  background-color: coral;
  text-transform: capitalize;
  position: relative;
}
.todo-app > ul > li > .close{
  /*float: right;*/
  font-size: 11px;
  position: absolute;
  right: 0px;
  top:0px;
  color:white;
  padding: 10.9px 9px;
  display: none;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.todo-app > ul > li > .close:hover{
  background-color: #d2693a;
  text-decoration: underline;
}

.todo-app > form > input{
  width: 350px;
}
.todo-app > ul > li > a > .checkbox {
  position: absolute;
  left:10px;
  top:10px;
}
.text-right{
  text-align: right;
}
.todo-app > ul > li.completed > a{
  /*background-color: rgba(255,127,80, 0.8);*/
  opacity: 0.4;
}