body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.todo-app{
  width: 400px;
  margin: 100px auto;
}
.todo-app > ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}
.todo-app > ul > li{
  width: 100%;
}
.todo-app > ul > li + li{
  /*border-top: 1px solid #f8f9fb;*/
  margin-top: 2px;
}
.todo-app > ul > li > a {
  padding: 10px 25px;
  display: block;
  font-size: 13px;
  cursor: pointer;
  color:white;
  border-radius: 3px;
  background-color: coral;
  text-transform: capitalize;

}
.todo-app > form > input{
  width: 350px;
}